<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.foodapp_reynaldi">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UASPrakPAMMReynaldiBaihaqi">
        <activity
            android:name="com.example.foodapp_reynaldi.Register"
            android:exported="true"
            android:label="@string/register_name"/>
        <activity
            android:name="com.example.foodapp_reynaldi.DetailActivity"
            android:exported="true"
            android:label="@string/detail_name" />
        <activity
            android:name="com.example.foodapp_reynaldi.MenuActivity"
            android:exported="true"
            android:label="@string/menu_name" />
        <activity
            android:name="com.example.foodapp_reynaldi.MainActivity"
            android:exported="true"
            android:label="@string/main_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>